<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 페이지</title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/" class="bold-text">Dayke</a></li>
          <li class="menu-item">
            <a href="/stores">STORES</a>
            <div class="wihte">
              <ul class="substore subpadding">
                <li><a href="#">DOSAN</a></li>
                <li><a href="#">SEONGSU</a></li>
                <li><a href="#">SINSA</a></li>
                <li><a href="#">SHANGHAI</a></li>
              </ul>
            </div>
          </li>
          <li class="menu-item">
            <a href="/menu">MENU</a>
            <ul class="submenu subpadding">
              <li><a href="#">DESSERT</a></li>
              <li><a href="#">BEVERAGE</a></li>
              <li><a href="#">MERCH</a></li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">PROJECTS</a>
            <ul class="subproject subpadding">
              <li><a href="#">JENNIECOLLAB</a></li>
              <li><a href="#">NEWJEANSCOLLAB</a></li>
              <li><a href="#">SINSA</a></li>
              <li><a href="#">BIRTH</a></li>
              <li><a href="#">PURPOSE</a></li>
            </ul>
          </li>
          <li class="menu-item"><a href="#">SOCIAL</a></li>
        </ul>
      </nav>

      <div>find</div>
    </header>

    <main>
      <div class="content">
        <div class="text-section">
          <img src="/public/img/main_pc_text.webp" alt="NUDAKE Text Image" />
        </div>
        <div class="image-section">
          <iframe
            src="https://player.vimeo.com/video/929421481?controls=0&amp;title=0&amp;autoplay=1&amp;muted=1&amp;loop=1&amp;autopause=0"
            allow="autoplay;"
            data-ready="true"
          ></iframe>
        </div>
      </div>

      <!-- 고정된 메인페이지 4개제품 -->
      <div id="additional-images-container">
        <div class="image-item">
          <a href="/product-detail/1">
            <img src="/public/img/COLLAGE.webp" alt="Product 1"
          /></a>
        </div>
        <div class="image-item">
          <a href="/product-detail/2">
            <img src="/public/img/WHITE TRUFFLE.webp" alt="Product 2"
          /></a>
        </div>
        <div class="image-item">
          <a href="/product-detail/3">
            <img src="/public/img/NUGELHOF.webp" alt="Product 3"
          /></a>
        </div>
        <div class="image-item">
          <a href="/product-detail/4">
            <img src="/public/img/OKRA.webp" alt="Product 4"
          /></a>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer-container">
        <ul class="social-links">
          <li><a href="https://www.instagram.com/nu_dake/#">INSTAGRAM</a></li>
          <li><a href="https://pf.kakao.com/_DKxkQb">KAKAOTALK</a></li>
          <li><a href="https://www.youtube.com/@NUDAKE">YOUTUBE</a></li>
          <li><a href="mailto:dake@nudake.com">CONTACT</a></li>
        </ul>
        <div class="footer-info">
          <p>
            IICombined Co., Ltd. | Business Registration Number: 119-86-38589
          </p>
          <p>
            Representative: Hangook Kim | 41, Eoulmadang-Ro 5-Gil, Mapo-Gu,
            Seoul
          </p>
        </div>
        <p class="copyright">© NUDAKE</p>
      </div>
    </footer>

    <script src="/public/js/main.js"></script>
  </body>
</html>
