<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= store.name %> | Store Details</title>
  </head>
  <body>
    <h1><%= store.name %></h1>
    <p><%= store.description %></p>
  </body>
</html>
