<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stores</title>
  </head>
  <body>
    <div>STORES</div>
    <div id="stores-images-container">
      <div class="image-stores">
        <a href="/stores-detail/1">
          <img src="/public/img/nudake_dosan_pc_1.webp" alt="Dosan 1" />DOSAN</a
        >
      </div>
      <div class="image-stores">
        <a href="/stores-detail/2"
          ><img
            src="/public/img/nudake_seongsu_pc_1.webp"
            alt="Seongsu 2"
          />SEONGSU</a
        >
      </div>
      <div class="image-stores">
        <a href="/stores-detail/3">
          <img src="/public/img/nudake_sinsa_pc_1.webp" alt="Sinsa 3" />SINSA</a
        >
      </div>
      <div class="image-stores">
        <a href="/stores-detail/4">
          <img
            src="/public/img/nudake_shanghai_pc_1.webp"
            alt="Shanghai 4"
          />SHANGHAI</a
        >
      </div>
    </div>
  </body>
</html>
